*-build-*
*.user
*.o
*.DS_Store
*.swp
project.xcworkspace
xcuserdata

# autotools
Makefile
*.lo
*.in
.deps
.libs
*.la
*.a
m4/
missing
libtool
ltmain.sh
install-sh
depcomp
configure
config.*
autom4te.cache
aclocal.m4
stamp-h1
src/shairplay

